/*Nav bar menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FF9100; /* Stonehawk Orange */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/*Nav bar menu items*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #353535;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/*Nav bar close button*/
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
  color: #fff;
  background-color: rgba(66, 66, 66, 0.5);
  padding: 0px 14px;
  border-radius: 5px;
}

/*Main nav bar toggle button*/
#main {
  transition: margin-right 0.5s;
  padding: 16px;
  float: right;
}

#main span {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
  border-radius: 5px;
}

/*Rules for body*/
h1 {
  font-family: 'Londrina Shadow', cursive;/* Stonehawk offical header font */
  color: white;
}

body {
  font-family: 'Indie Flower', cursive;
}

p {
  font-size: 25px;
}

/* container */
.container {
  border-radius: 5px;
  background-color: rgba(120, 120, 120, 0.3); /* Stonehawk Grey */
  padding: 20px;
}

/*Home*/
.main-bg {
  background-image: url(../cafe/images/chalk_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/*Header*/
.header-text {
  color: #fff;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ht-head {
  font-size: 120px;
  font-weight: 600;
}

/*Menu background*/
.s2-head {
  background-image: url(../cafe/images/chalk_menu_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  font-size: 25px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFF;
}

/*Menu body*/
.bevBorder {
  border: 2px dotted;
  margin-left: 50px;
  margin-top: 25px;
}

/*Book a table*/
.s3-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../cafe/images/cafe-background.jpeg);
  color: #fff;
}

/*Location*/
.s4-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../cafe/images/location_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
}

/*Google Maps Responsive*/
.google-maps {
  position: relative;
  padding-bottom: 75%; // aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/*Events*/
.s5-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../cafe/images/event-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
}

/*Event List*/
li {
  color: #191919;
  background-color: #191919;
  list-style: none;
  font-size: 22px;
  padding-left: 10px;
  text-align: left;
}

span.label {
  float: right;
  margin: 10px;
}

.badge {
  font-size: 20px;
}

/*Book*/
.thumbnail {
  padding: 0 0 15px 0;
  border-color: black;
  border-width: medium;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

.thumbnail p {
  margin-top: 15px;
  color: #191919;
}

/* Events Booking Button style */
.eventsbtn {
  background-color: #FF9100;
  /* Stonehawk Orange */
  border: none;
  color: #191919;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.eventsbtn:hover, .eventsbtn:focus {
  border: 1px solid black;
  background-color: #FEDDBD;
  color: #191919;
}

/*Book Tickets Modal*/
.modal-header, h4, .close {
  background-color: #FF9100;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.modal-header, .modal-body {
  padding: 40px 50px;
}

/*Survey*/
.s6-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../cafe/images/survey-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
}

/*Contact*/
.s7-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 1000px;
  background-image: url(../cafe/images/contact_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
}

/*Facebook comment Plug in */
.comments{
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
}
.fb-comments {
  background-color: #fff;
}

/*Social Media Buttons*/
.socialmedia {
  background-color: #fff;
  color: black;
  border: 20px;
  width: 500px;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*Sign up*/
.s8-head {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../cafe/images/signup_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

/*Newsletter form*/
input {
  height: 38px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

input[type="text"] {
  padding: 2px 12px;
  margin-bottom: 8px;
  border-color: #c9c9c9;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

input[type="submit"] {
  color: #fff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  border-color: #1c385c;
  box-shadow: inset 0 1px 0 #7fade7;
  text-shadow: 0 -1px #34629f;
  background: linear-gradient(to top, #3e74bb 0, #4887dd 100%);
}

#newsletter {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border-radius: 4px;
  z-index: 20;
}

#newsletter:before {
  display: block;
  content: "";
  height: 5px;
  width: 100%;
  top: -20px;
  right: -20px;
  left: -20px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background: repeating-linear-gradient(-225deg, #4782ce, #4782ce 12px, #fff 12px, #fff 24px, #ea222e 24px, #ea222e 36px, #fff 36px, #fff 48px);
}

#newsletter .seal {
  position: absolute;
  top: -1px;
  right: 0;
}

#newsletter .seal:before,
#newsletter .seal:after {
  display: block;
  content: "";
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  position: absolute;
}

#newsletter .seal:before {
  width: 50px;
  height: 50px;
  top: 8px;
  right: 8px;
}

#newsletter .seal:after {
  width: 60px;
  height: 60px;
  top: 3px;
  right: 3px;
}

#newsletter .seal i {
  position: absolute;
  font-size: 24px;
  color: #afafaf;
  top: 20px;
  right: 22px;
  transform: rotate(12deg);
}

#newsletter form {
  padding: 24px 20px 20px;
}

#newsletter form .title {
  font-size: 24px;
  font-weight: 100;
  color: #4783ce;
  margin-bottom: 5px;
}

#newsletter form label {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #818181;
  margin-bottom: 20px;
}

.shadow {
  width: 240px;
  height: 30px;
  margin: 0 auto;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: relative;
  top: -30px;
  z-index: 10;
}

/*back to top btn*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: #555;
}

/* Responsive layouts */
/* Mobile */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  #mainheader {
    font-size: 70px;
  }

  .ht-head {
    font-size: 50px;
  }

  .bevBorder {
    margin-right: 70px;
  }

  .main-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .label .label-danger {
    font-size: 15px;
  }

  .badge {
    font-size: 15px;
  }

  #newsletter {
    z-index: 1;
  }
}
/* Small Mobile */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 10px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  .bevBorder {
    border: 2px dotted;
    margin-top: 25px;
  }
}
